.hero {
  position: sticky;
  top: 0;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: radial-gradient(circle, #006094 0%, #001936 80%);
  will-change: transform;
}


.title {
  color: $white;
  font-size: 40px;
  padding: 10px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.025em;

  @include breakpoint-down(medium) {
      font-size: 20px; 
  }

  &__massive {
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    
    @include breakpoint-down(medium) {
        font-size: 36px; 
    }
  }
}

.logo {
    width: 400px;
    margin-bottom: 70px;
}

/* 
.hero-hardware::before {
  content: '';
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/v/macos/big-sur/a/images/overview/hero/hero_hardware__b9fsoccpzb6q_large.png");
  left: 50%;
  margin-left: -681px;
}

.hero-hardware {
  border: 1px solid red;
  will-change: transform;
  background-image: radial-gradient(
    ellipse at center,
    #006d52 0%,
    #0000 67%
  );

  position: relative;
  z-index: 2;
  margin-top: 0;
  right: 0;
  transform: matrix(2.2, 0, 0, 2.2, 0, 4);
  transform-origin: center 88px;
  width: 1362px;
  height: 898px;
  left: 50%;
  margin-left: -681px;
} */


.image-screen-placeholder {
/*   border: 1px solid red; */
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  margin: 0 auto;
  width: 882px;
  height: 552px;
  background-size: 882px 552px;
  transform: perspective(0);
}

.image-app-placeholder {
/*   border: 1px solid fuchsia; */
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  margin: 0 auto;
  z-index: 3;
  width: 882px;
  height: 552px;
  background-size: 882px 552px;
  transform: matrix(1.4067, 0, 0, 1.4067, 1120, 700);
}
