html {
    // Makes more accessible for user control the zoom level in the browser
    font-size: 100%;
    // Size of elements include padding in the final width
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    // Add resets;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: $font-md;
    font-weight: 300;
    line-height: 1.3;

    @include breakpoint-up(large) {
        font-size: $font-md;
    }

    &.noscroll {
        overflow: hidden;
    }
}

h1, h2, h3 {
    margin-top: 0;
}

.section {
    min-height: 100vh;
    background-color: $white;
}

a, a:visited, a:hover {
    text-decoration: none;
}

// Spacing
.container {
    max-width: 1400px;
    margin: auto;
    
    &--pall {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    &--py {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }
    &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    &--pt {
        padding-top: 1.75rem;
    }
    &--pr {
        padding-right: 1.5rem;
    }
    &--pb {
        padding-bottom: 1.75rem;
    }
    &--pl {
        padding-left: 1.5rem;
    }
}

// Flexbox styles
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Buttons
button, .button {
    display: inline-block;
    padding: 0.875rem 2.1875rem; // 14px 35px
    font-size: $font-sm;
    font-weight: 400;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    color: $white;
    transition: opacity 300ms ease-in-out;

    &:hover {
        opacity: 0.80;
    }
}

// Visibility
.hide-for-mobile {
    // hide for medium and down
    // call the mixin with include
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop {
    // hide for desktop and up
    @include breakpoint-up(large){
        display: none;
    }
}