.sticky-wrapper {
    height: 4520px;
    border-bottom: 1px solid rgb(255, 0, 0);
}

.sticky-content {
    @include breakpoint-down(large) {
        position: static;
        height: unset;
        padding-top: 60px;
        overflow: hidden;
    }
    
    @include breakpoint-up(large) {
        position: sticky;
        top: 52px;
        height: 100vh;
        min-height: 1480px;
        overflow: hidden;
        z-index: 2;
    }
}

/* .hardware-wrapper {
    display: none;
    visibility: hidden !important;
} */

/* .image-sellers {
    @include breakpoint-down(large) {
        
        .image-hardware {
            display: block;
            position: relative;
            will-change: transform;
            z-index: 1;
            width: 1496px;
            height: 856px;
            background-size: 1496px 856px;
            background-repeat: no-repeat;
            background-image: url("/images/section-hardware-medium.jpg");
            mask-size: 1496px 856px;
            mask-repeat: no-repeat;
            mask-image: url("/images/mask-medium.svg");
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 1846px;
            height: 1248px;
            background-size: 1846px 1248px;
            background-repeat: no-repeat;
            background-image: url("/images/shadow.png");
            z-index: 1;
            left: -5px;
            top: -3px;
        }

         &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    };
    

    @include breakpoint-up(large) {
        display: block;
        z-index: 1;
        position: relative;
        will-change: transform;
        width: 1891px;
        height: 1084px;
        
        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            width: 2338px;
            height: 1584px;
            background-size: 2338px 1584px;
            background-repeat: no-repeat;
            background-image: url("/images/shadow.png");
            left: -5px;
            top: -3px;
        }
    };
}
 */

.section-sellers {
    font-size: 18px;
}

.section-header-headline {
    color: #2a6eff;
}

.features-wrapper {
    @include breakpoint-down(large) {
        position: static;
        height: auto;
        padding-top: 0;
        margin-top: -110px;
        margin-bottom: 88px;
    };

    @include breakpoint-up(large) {
        position: relative;
        padding-top: 60px;
        height: 100vh;
    };
}

.feature {
    @include breakpoint-down(large) {
        align-items: center;
        margin-top: -40px;
        transform: translateY(0);
    };

    @include breakpoint-up(large) {
        will-change: transform;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        transition-property: opacity, transform;
        transition-duration: 0.8s;
    
        &:nth-child(2) {
            top: calc(40% + 200px);
        }
        &:nth-child(4) {
            top: calc(40% + 200px);
        }
    };
}

.feature-item-headline {
    color: #2a6eff;
}

.anim-feature-item {
    transition-delay: 0s;
    transition-property: opacity, transform;
    transition-duration: 0.8s;
    transition-timing-function: easeOutQuad;
    will-change: opacity, transform;
    opacity: 1;
    transform: translateY(0);
}

.fallback-lockup {
    @include breakpoint-down(large) {
        display: block;
        transform: translateX(-105px) scale(0.7164);  
    };

    @include breakpoint-up(large) {
        display: none;
    };

}

.js-feature-item-engaged {
    opacity: 1;
}

.js-feature-item-transition {
    transform: translateY(-200px);
}