.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

main {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.3;
}

@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}

body.noscroll {
  overflow: hidden;
}

h1, h2, h3 {
  margin-top: 0;
}

.section {
  min-height: 100vh;
  background-color: white;
}

.section--pall {
  padding-top: 140px;
  padding-bottom: 140px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.section--py {
  padding-top: 140px;
  padding-bottom: 140px;
}

.section--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.section--pt {
  padding-top: 140px;
}

.section--pr {
  padding-right: 1.5rem;
}

.section--pb {
  padding-bottom: 140px;
}

.section--pl {
  padding-left: 1.5rem;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.container--pall {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--py {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 1.75rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 1.75rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  font-size: 0.875rem;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

button:hover, .button:hover {
  opacity: 0.80;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header nav {
  position: relative;
  z-index: 1;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  z-index: 1;
  background: white;
  border-radius: 5px;
  margin-top: 1.3rem;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #2d314d;
  text-align: center;
}

.header__menu a:first-child {
  padding-top: 2rem;
}

.header__menu a:last-child {
  padding-bottom: 2rem;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #9698a6;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 2rem;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::before {
  opacity: 1;
}

.header .overlay {
  position: fixed;
  z-index: 1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(#2d314d, transparent);
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sticky-wrapper {
  height: 4520px;
  border-bottom: 1px solid red;
}

.sticky-content {
  position: -webkit-sticky;
  position: sticky;
  top: 52px;
  height: 100vh;
  min-height: 1480px;
  overflow: hidden;
  z-index: 2;
}

.hardware-wrapper {
  width: 100%;
}

.image-sellers {
  display: block;
  z-index: 1;
  position: relative;
  will-change: transform;
  -webkit-transform: scale(0.7164);
          transform: scale(0.7164);
  width: 1891px;
  height: 1084px;
}

.image-sellers::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 2338px;
  height: 1584px;
  background-size: 2338px 1584px;
  background-repeat: no-repeat;
  background-image: url("/images/shadow.png");
  left: -5px;
  top: -3px;
}

.image-hardware {
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 1892px 1084px;
  background-repeat: no-repeat;
  background-image: url("/images/section-hardware.jpg");
  -webkit-mask-size: 1892px 1084px;
          mask-size: 1892px 1084px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-image: url("/images/mask.svg");
          mask-image: url("/images/mask.svg");
}

.section-sellers {
  font-size: 18px;
}

.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.section-header-headline {
  color: #2a6eff;
  max-width: 66%;
  font-size: 64px;
  line-height: 1.0625;
  font-weight: 500;
  letter-spacing: -0.009em;
}

.text-transform-wrapper {
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.features-wrapper {
  position: relative;
  padding-top: 60px;
  height: 100vh;
}

.feature {
  will-change: transform;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.feature:nth-child(2) {
  top: calc(40% + 200px);
}

.feature-item-headline {
  color: #2a6eff;
}

.anim-feature-item {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-timing-function: easeOutQuad;
          transition-timing-function: easeOutQuad;
  will-change: opacity, transform;
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.js-feature-item-engaged {
  opacity: 1;
}

.js-feature-item-transition {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.feature-text {
  font-size: 19px;
  line-height: 1.4211;
  font-weight: 600;
  letter-spacing: 0.012em;
  max-width: 340px;
}

.section-header-intro {
  max-width: 75%;
  font-size: 24px;
  line-height: 1.33341;
  font-weight: 600;
  letter-spacing: 0.009em;
  padding: 0;
}

.text-block {
  color: black;
  text-align: center;
}

.section-hero {
  max-width: 100%;
  height: 275vh;
  min-height: 2474px;
  overflow: initial;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-height: 100vh;
  overflow: hidden;
  background-image: radial-gradient(circle, #067BBC 0%, #002044 80%);
  padding-top: 30px;
}

.intro-text-box {
  width: 100%;
  will-change: opacity;
  -webkit-transition: 0.9s opacity 0.5s;
  transition: 0.9s opacity 0.5s;
}

.centered-text-block {
  position: absolute;
  top: 10%;
  z-index: 99;
  text-align: center;
  left: 50%;
  width: 90%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.title {
  color: white;
  font-size: 40px;
  padding: 10px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.025em;
}

@media (max-width: 63.9375em) {
  .title {
    font-size: 20px;
  }
}

.title__massive {
  font-weight: 600;
  font-size: 80px;
  text-align: center;
}

@media (max-width: 63.9375em) {
  .title__massive {
    font-size: 36px;
  }
}

.logo {
  width: 400px;
  margin-bottom: 70px;
}

.hero-hardware::before {
  content: '';
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/v/macos/big-sur/a/images/overview/hero/hero_hardware__b9fsoccpzb6q_large.png");
  left: 50%;
  margin-left: -681px;
}

.hero-hardware {
  /*   border: 1px solid red; */
  will-change: transform;
  background-image: radial-gradient(ellipse at center, #00743a 0%, #0000 67%);
  position: relative;
  z-index: 2;
  margin-top: 0;
  right: 0;
  -webkit-transform: matrix(2.2, 0, 0, 2.2, 0, 4);
          transform: matrix(2.2, 0, 0, 2.2, 0, 4);
  -webkit-transform-origin: center 88px;
          transform-origin: center 88px;
  width: 1362px;
  height: 898px;
  left: 50%;
  margin-left: -681px;
}

.image-screen-placeholder {
  /*   border: 1px solid red; */
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  margin: 0 auto;
  width: 882px;
  height: 552px;
  background-size: 882px 552px;
  -webkit-transform: perspective(0);
          transform: perspective(0);
}

.image-app-placeholder {
  /*   border: 1px solid fuchsia; */
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  margin: 0 auto;
  z-index: 3;
  width: 882px;
  height: 552px;
  background-size: 882px 552px;
  -webkit-transform: matrix(1.4067, 0, 0, 1.4067, 1120, 700);
          transform: matrix(1.4067, 0, 0, 1.4067, 1120, 700);
}

.intro-text {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 820px;
  margin: -20px auto;
  padding: 0 0 165px;
  text-align: center;
  color: white;
}

.intro-text h1 {
  font-size: 56px;
}

.intro-text p {
  font-size: 24px;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */